<ul class="uk-iconnav uk-iconnav-vertical">
  <div>
    <li class="uk-padding-small" uk-tooltip="title: Keyword; pos: right;"><button id="keyword"
        [routerLink]="['/main-view', 'keyword']" [ngClass]="{ 'pink': type == 'keyword' || type == 'q' }"
        uk-icon="icon: quote-right"></button></li>
    <li class="uk-padding-small" uk-tooltip="title: Category; pos: right;"><button id="category"
        [routerLink]="['/main-view', 'category']" [ngClass]="{ 'pink': type == 'category'}"
        uk-icon="icon: thumbnails"></button></li>
    <li class="uk-padding-small" [routerLink]="['/main-view', 'sources']"
      [ngClass]="{ 'pink': type == 'sources' }" uk-tooltip="title: Source; pos: right;"><button id="source"
        uk-icon="icon: location"></button></li>
  </div>
</ul>