<div class="uk-flex uk-flex-center uk-margin">
  <button class="uk-button uk-button-default uk-margin-right"
    (click)="getCategory('entertainment')">Entertainment</button>
  <button class="uk-button uk-button-default uk-margin-right" (click)="getCategory('technology')">Technology</button>
  <button class="uk-button uk-button-default uk-margin-right" (click)="getCategory('business')">Business</button>
  <button class="uk-button uk-button-default uk-margin-right" (click)="getCategory('health')">Health</button>
</div>
<div class="uk-flex uk-flex-center uk-margin">
  <button class="uk-button uk-button-default uk-margin-right" (click)="getCategory('science')">Science</button>
  <button class="uk-button uk-button-default uk-margin-right" (click)="getCategory('sports')">Sports</button>
  <button class="uk-button uk-button-default uk-margin-right" (click)="getCategory('general')">General</button>
</div>